body {
    background-image: url("https://cdn.glitch.global/8a3da3df-d914-4192-a3bf-25addd037603/1.jpeg?v=1649236700326");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 100vh;
  height: 100vh;
    background-color: rgb(78, 54, 26);
}
#container {
background-color: rgb(251, 251, 246);
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: max-content;
height: min-content;
border-radius: 20px;
}

#totalBill {
    display: flex;
   
}

h2 {
    font-family: 'Rubik Moonrocks', cursive;
    color: coral;
    align-self: center;
}

form {
    font-family: 'Rubik Moonrocks', cursive;
    color: rgb(153, 129, 120);
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    padding: 20px;
}

input {
    font-family: 'Montserrat', sans-serif;  
    padding: 5px;
    border: none;
   }

#billSplit, #eatSplit, #totalSplit {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    background-color: rgb(224, 204, 196);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
 
}

#addRoom, #addEat, #btn, #room, #eat {
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 10px;
    
}
 #room, #eat {
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 5px;
    
}

#room, #eat {
    display: none;
}
#btn {
    background-color: coral;
}
